git:
  submodules: false
before_install:
- eval `ssh-agent -s`
- openssl aes-256-cbc -K $encrypted_b268273c33e7_key -iv $encrypted_b268273c33e7_iv
  -in .deploy_rsa.enc -d | ssh-add -
- bash .android_license.sh
- sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
- git submodule update --init --recursive
  - chmod u+x ./gradlew 

language: android
android:
  components:
  - tools
  - platform-tools
  - tools
  - build-tools-25.0.0
  - android-23
  licenses:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+
script:
  - ./gradlew clean slotpuzzle2d:assemble slotpuzzle2dlogcatviewer:assemble slotpuzzle2dprototypes:assemble slotpuzzle2dprototypeslogcatviewer:assemble
after_success:
  - bash ${TRAVIS_BUILD_DIR}/.set_tags.sh
deploy:
  skip_cleanup: true
  provider: releases
  api_key: 
  file: "${TRAVIS_BUILD_DIR}/slotpuzzle2dprototypeslogcatviewer/build/outputs/apk/slotpuzzle2dprototypeslogcatviewer-debug.apk"
  on:
    repo: memellis/SlotPuzzle2d
